<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../src/stylesheet/c-ui-style/css/at.css">
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="../dist/c-ui.js"></script>
    <style media="screen">
      .section {
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="section btn">
        <div class="row">
          <at-button hollow>默认按钮</at-button>
          <at-button type="primary" hollow>主要按钮</at-button>
          <at-button type="success" hollow>成功按钮</at-button>
          <at-button type="error" hollow>危险按钮</at-button>
          <at-button type="warning" hollow>警告按钮</at-button>
          <at-button type="info" hollow>信息按钮</at-button>
        </div>
        <div class="row">
          <at-button>默认按钮</at-button>
          <at-button type="primary">主要按钮</at-button>
          <at-button type="success">成功按钮</at-button>
          <at-button type="error">危险按钮</at-button>
          <at-button type="warning">警告按钮</at-button>
          <at-button type="info">信息按钮</at-button>
        </div>
      </div>
      <div class="section row">
        <at-tag color="default">标签一</at-tag>
        <at-tag color="primary">标签二</at-tag>
        <at-tag color="success">标签三</at-tag>
        <at-tag color="error">标签四</at-tag>
        <at-tag color="warning">标签五</at-tag>
        <at-tag color="info">标签六</at-tag>
        <at-tag color="#ecefce">#ecefce</at-tag>
      </div>
      <div class="section">
        <i class="icon icon-zoom-in"></i>
        <i class="icon icon-zoom-out"></i>
        <i class="icon icon-check"></i>
        <i class="icon icon-x"></i>
      </div>
      <div class="section">
        <at-alert message="成功提示的标题" description="成功提示的详细说明成功提示的详细
        说明成功提示的详细说明成功提示的详细说明成功提示的详细说明成功提示的详细说明成功提示的详
        细说明成功提示的详细说明成功提示的详细说明" type="success" show-icon closable></at-alert>
        <at-alert message="错误提示的标题" description="错误提示的详细说明错误提示的详细
        说明错误提示的详细说明" type="error" show-icon closable></at-alert>
        <at-alert message="警告提示的标题" description="警告提示的详细说明警告提示的详细
        说明警告提示的详细说明" type="warning" show-icon closable></at-alert>
      </div>
      <div class="section">
        <at-input v-model="inputValue2" placeholder="success" status="success" icon="check-circle"></at-input>
        <at-input v-model="inputValue2" placeholder="error" status="error" icon="x-circle"></at-input>
        <at-input v-model="inputValue2" placeholder="warning" status="warning" icon="alert-circle"></at-input>
        <at-input v-model="inputValue2" placeholder="info" status="info" icon="info"></at-input>
      </div>
      <div class="section">
        <p class="demo-desc">this.$Modal.alert()</p>
        <at-button @click="modalAlert">Alert</at-button>
      </div>
    </div>
    <script type="text/javascript">
    new Vue({
      el: '#app',
      data () {
        return {
          inputValue2: ''
        }
      },
      methods: {
        showMessage: function () {
          this.$Message('Thanks for using AT-UI')
        },
        modalAlert () {
          this.$Modal.alert({
            title: '这里是标题名称',
            content: '这里是文本内容',
            callback: function (action) {
              this.$Message(action)
            }
          })
        }
      }
    })
    </script>
  </body>
</html>
